.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:white;
  --primary-orange:orange;
  --primary-dark:rgba(0, 0, 0, 0);
}

body{
  font-family: 'Bitter', 'Times New Roman', Times, serif;
}
/******************NavBar*******************/

.logo{
  width: 4rem;
  border-radius:4rem;
}

/* --------Menu Links------------ */
nav .nav-link{
  font-weight: lighter;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a{
  margin-left:0.75rem;
  margin-right:0.75rem;
  color: var(--primary-white) !important;
  border-top: solid 0.1875rem var(--primary-dark) ;
}

.navbar-nav .nav-item .nav-link:hover{
  border-top: solid 0.1875rem var(--primary-orange) ;
  
}

